.upload-panel{
    /*border-style: dashed;*/
    border: 2px dashed grey;   
    margin-bottom: 30px;
    padding: 100px;
    text-align: center;
    color: grey;
    font-weight: normal;
    display: block;
    cursor: pointer;
}

.upload-panel input {
    display: none;
}