<form class="form-horizontal" [formGroup]="form">
    <div class="form-group" [ngClass]="displayFieldCss('password')">
        <label class="sr-only" for="password">Password</label>
        <div class="col-sm-12">
            <div class="input-group">
                <div class="input-group-addon">Password</div>
                <input type="password" class="form-control" id="inputPassword" placeholder="Secret phrase" required 
                name ="password" formControlName="password">
            </div>
        </div>
    </div>

    <div dnd-upload (filesAddEmiter)="onAdd($event)" class="upload-panel">
        Drop files here
    </div>
</form>
