

<file-item *ngFor="let file of files" [item]="file" (delete)="delete($event)"></file-item>

<!--<div id="files" class="row list-group">
    <div class="item  col-xs-12">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="group inner list-group-item-heading">
                            <a href="#">File name 2</a>
                        </h4>
                        <p class="group inner list-group-item-text">
                            <span class="label label-success">Decrypted</span>
                            <span class="label label-default">15 kByte</span>
                            <span class="label label-default">1/25/2017 00:12</span>
                        </p>
                    </div>
                    <div class="col-xs-2">                        
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="files" class="row list-group">
    <div class="item  col-xs-12">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="group inner list-group-item-heading">
                            <a href="#">DCS0001.jpg</a>
                        </h4>
                        <p class="group inner list-group-item-text">
                            <span class="label label-danger">Encrypted</span>
                            <span class="label label-default">15 kByte</span>
                            <span class="label label-default">1/25/2017 00:12</span>
                        </p>
                    </div>
                    <div class="col-xs-2">                        
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->