<div id="files" class="row list-group">
    <div class="item  col-xs-12 ">
        <div class="thumbnail">

            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" 
                    role="progressbar" 
                    aria-valuemin="0" 
                    aria-valuemax="100"                     
                    [attr.aria-valuenow]="item.progress ? item.progress : 0"  
                    [style.width.%]="item.progress ? item.progress : 0" 
                    [ngClass]="{ 'hide': item.status == fileStatus.Encrypted || item.status == fileStatus.Decrypted }">
                    <span class="sr-only">{{ item.progress ? item.progress : 0 }}% Complete (success)</span>
                </div>

                <div class="caption">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4 class="group inner list-group-item-heading" *ngIf="item.status == fileStatus.Encrypted || item.status == fileStatus.Decrypted">
                                <a href="#" (click)="onSave()">{{ item.name }}</a>
                            </h4>
                            <h4 class="group inner list-group-item-heading" *ngIf="item.status == fileStatus.Encrypting || item.status == fileStatus.Decrypting">
                                {{ item.name }}
                            </h4>
                            <span class="label disable" 
                                *ngIf="item.status == fileStatus.Encrypted || item.status == fileStatus.Decrypted"
                                [ngClass]="{ 'label-danger': item.status == fileStatus.Encrypted, 'label-success': item.status == fileStatus.Decrypted }">{{ fileStatus[item.status] }}</span>
                            <span class="label label-default">{{ prettifyBytes(item.size) }}</span>
                            <span class="label label-default">{{ formatDate(item.lastModified) }}</span>
                        </div>
                        <div class="col-xs-2">
                            <!--<a class="btn btn-success pull-right" href="#">Download</a>-->
                            <button type="button" class="close" aria-label="Close" (click)="onDelete()" ><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>